@model Charybdis.Core.Entities.EstablishmentMetadata

@{
    ViewBag.Title = "About the school";

}

@* <govuk-breadcrumbs collapse-on-mobile="true">
    <govuk-breadcrumbs-item asp-controller="Home" asp-action="Index">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item>@Model.EstablishmentName</govuk-breadcrumbs-item>
</govuk-breadcrumbs> *@


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @await Html.PartialAsync("SubServiceNavigation", Model)
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">@Model.EstablishmentName</span>
        <h1 class="govuk-heading-xl">About the school</h1>


        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Name
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.EstablishmentName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            @if (!string.IsNullOrWhiteSpace(Model.TrustName))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Academy Trust
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.TrustName
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Website
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.Website
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>

        <h3 class="govuk-heading-m">Contact details</h3>

        <govuk-summary-list>
            @if (!string.IsNullOrWhiteSpace(Model.Email))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Email
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.Email
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
            @if (!string.IsNullOrWhiteSpace(Model.Telephone))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key>
                        Telephone
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value>
                        @Model.Telephone
                    </govuk-summary-list-row-value>
                </govuk-summary-list-row>
            }
        </govuk-summary-list>

        <h2 class="govuk-heading-l">Location</h2>

        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Address
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.FullAddress
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Local authority
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.LocalAuthorityName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Number of secondary schools in a 3 mile radius of this school
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    ??
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>

        <govuk-details>
            <govuk-details-summary>
                View this information on a map
            </govuk-details-summary>
            <govuk-details-text>
                We need to know your nationality so we can work out which elections you’re entitled to vote in.
                If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
            </govuk-details-text>
        </govuk-details>


        <h2 class="govuk-heading-l">School features</h2>

        <govuk-summary-list>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Value and ethos
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    <a href="@Model.Website">View their value and ethos on @Model.EstablishmentName website</a>
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Type of school
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.EstablishmentTypeName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Headteacher
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.HeadTeacherName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Age range
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.AgeRange
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Number of pupils
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    ??
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Pupil sex
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.GenderName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Religious character
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.ReligiousCharacterName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Sixth form
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    @Model.SixthFormName
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
            <govuk-summary-list-row>
                <govuk-summary-list-row-key>
                    Specialist unit
                </govuk-summary-list-row-key>
                <govuk-summary-list-row-value>
                    ??
                </govuk-summary-list-row-value>
            </govuk-summary-list-row>
        </govuk-summary-list>

        <govuk-details>
            <govuk-details-summary>
                What is a specialist unit?
            </govuk-details-summary>
            <govuk-details-text>
                A dedicated part of a mainstream school that offers specific support for students with special educational needs and disabilities (SEND).
            </govuk-details-text>
        </govuk-details>


        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Documents published by the school
                </h2>
            </div>
            <div class="govuk-summary-card__content">
                <p>All schools in England must publish statutory policies and documents that explain how the school is run and how staff and pupils should behave. Statutory policies and documents must be published on school websites. Schools can also create their own guidelines.</p>

                

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Policy</th>
                            <th scope="col" class="govuk-table__header">Description</th>
                            <th scope="col" class="govuk-table__header">Link</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Accessibility plan</th>
                            <td class="govuk-table__cell">Includes how to increase the extent to which pupils with disabilities can participate in the curriculum, how to improve the physical environment, and how to improve the availability of accessible information.</td>
                            <td class="govuk-table__cell"><a href="@Model.Website">View these policies on the school website</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Behaviour policy</th>
                            <td class="govuk-table__cell">Includes school rules, what behaviour is expected of pupils and what the school does to prevent bullying.</td>
                            <td class="govuk-table__cell"><a href="@Model.Website">View these policies on the school website</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Charging and remissions policy</th>
                            <td class="govuk-table__cell">Schools may charge for certain activities such as school trips or music tuition. This policy covers what the school charges for and when these charges can be reduced or waived.</td>
                            <td class="govuk-table__cell"><a href="@Model.Website">View these policies on the school website</a></td>
                        </tr>

                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Complaints policy</th>
                            <td class="govuk-table__cell">A complaints policy shows how parents or carers can raise concerns with a school and how to make a complaint.</td>
                            <td class="govuk-table__cell"><a href="@Model.Website">View these policies on the school website</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Safeguarding policy</th>
                            <td class="govuk-table__cell">Outlines how the school protects pupils from harm, ensuring their safety and well-being.</td>
                            <td class="govuk-table__cell"><a href="@Model.Website">View these policies on the school website</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">School uniform policy</th>
                            <td class="govuk-table__cell">A school uniform policy outlines to parents and carers what pupils are expected to wear and what the exceptions are.</td>
                            <td class="govuk-table__cell"><a href="@Model.Website">View these policies on the school website</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Special educational needs and disabilities (SEND) information report</th>
                            <td class="govuk-table__cell">Schools must publish a report on their approach to SEND, including how the school supports pupils with SEND.</td>
                            <td class="govuk-table__cell"><a href="@Model.Website">View these policies on the school website</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

                    











