@using Charybdis.Web.Middleware
@using GovUk.Frontend.AspNetCore
@using Microsoft.Extensions.Options
@inject IOptions<AppSettingsOptions> appSettingsOptions

@{
    ViewBag.ServiceName = appSettingsOptions.Value.ServiceName;
}

<!DOCTYPE html>
<html lang="en" class="govuk-template govuk-template--rebranded app-html-class">

<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title - @ViewBag.ServiceName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue">
    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="blue">
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">
    <meta property="og:image" content="YOUR-DOMAIN/images/govuk-opengraph-image.png">
    @Html.GovUkFrontendStyleImports()
    <link rel="stylesheet" href="/css/dfefrontend-2.0.0.min.css"/>
</head>

<body class="govuk-template__body app-body-class">
    @Html.GovUkFrontendJsEnabledScript(Html.ScriptNonce().ToString())
    @await Html.PartialAsync("_CookieBanner")

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <govuk-header />

    <govuk-service-navigation service-name="@ViewBag.ServiceName" service-url="#">
        <govuk-service-navigation-nav>
        </govuk-service-navigation-nav>
    </govuk-service-navigation>

    <div class="govuk-width-container app-width-container">
        <govuk-phase-banner>
            <govuk-phase-banner-tag>Alpha</govuk-phase-banner-tag>
            This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.
        </govuk-phase-banner>
        <main class="govuk-main-wrapper app-main-class govuk-body" id="main-content">
            @RenderBody()
        </main>
    </div>
    <govuk-footer>
        <govuk-footer-meta>
            <govuk-footer-meta-items>
                <govuk-footer-meta-item href="@Url.Action("Accessibility", "Static")">Accessibility</govuk-footer-meta-item>
                <govuk-footer-meta-item href="@Url.Action("Cookies", "Static")">Cookies</govuk-footer-meta-item>
                <govuk-footer-meta-item href="@Url.Action("Privacy", "Static")">Privacy</govuk-footer-meta-item>
            </govuk-footer-meta-items>
        </govuk-footer-meta>
    </govuk-footer>

    @Html.GovUkFrontendScriptImports(Html.ScriptNonce().ToString())
    <script src="~/js/jquery.min.js" nonce="@Html.ScriptNonce()"></script>
    <script src="~/js/chart.umd.min.js" nonce="@Html.ScriptNonce()"></script>
    <script src="~/js/chartjs-plugin-datalabels.min.js" nonce="@Html.ScriptNonce()"></script>
    <script src="~/js/chartconfig.js" nonce="@Html.ScriptNonce()"></script>
</body>

</html>