@if (ViewBag.EstabNumber != null && ViewBag.EstabNameSafe != null)
{

    <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="@Url.Action("AboutTheSchool", "School", new { urn = ViewBag.EstabNumber, name = ViewBag.EstabNameSafe })">About the school</a>
        </li>
        <li>
            <a class="govuk-link" href="@Url.Action("Admissions", "School", new {urn = ViewBag.EstabNumber, name = ViewBag.EstabNameSafe })">Admissions</a>
        </li>
        <li>
            <a class="govuk-link" href="@Url.Action("CurriculumEnrichment", "School", new { urn = ViewBag.EstabNumber, name = ViewBag.EstabNameSafe })">Curriculum</a>
        </li>
        <li>
            <a class="govuk-link" href="#">Extra-curricular activities</a>
        </li>
        <li>
            <a class="govuk-link" href="@Url.Action("Attendance", "School", new { urn = ViewBag.EstabNumber, name = ViewBag.EstabNameSafe })">Attendance</a>
        </li>
        <li>
            <a class="govuk-link" href="@Url.Action("AcademicPerformance", "School", new { urn = ViewBag.EstabNumber, name = ViewBag.EstabNameSafe })">Academic performance</a>
        </li>
        <li>
            <a class="govuk-link" href="@Url.Action("Ofsted", "School", new { urn = ViewBag.EstabNumber, name = ViewBag.EstabNameSafe })">Ofsted</a>
        </li>
    </ul>

}